.course {
    color: rgb(90, 87, 87);
}

.icon {
    color: orangered;
}

.card-body {
    background-color: lightgray;
}

.aboutstarclasses {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 20px;
}

.aboutus1 {
    padding-left: 80px;
    margin-top: 20px;
}

.ourmissionbc {
    background-color: rgb(58, 55, 55);
    padding: 40px;
}

.aboutus2 {
    padding-left: 10%;
}

.ourmission {
    padding-left: 80px;
    margin-top: 20px;
    color: white;
    padding-right: 11%;
}

h6 {
    color: orangered;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-1-img {
    width: 100%;
    height: 570px;
    position: relative;
    background-repeat: no-repeat;
    /* background-color: red; */
    background: url("/picture/img-courses-1.jpg");
    background-size: cover;
}

.main-1-img-1 {
    width: 100%;
    height: 100%;
    /* background-image: url(/picture/img-courses-1.jpg); */

}

.main-1-img-1-title {
    color: white;
    width: 100%;
    top: 350px;
    text-align: center;
    position: absolute;
}

.main-1-img-1-title>p {
    font-weight: bold;
    font-size: 1.8em;
}

.a-home>a {
    color: white;
    text-decoration: none;
}

.a-home>a:hover {
    color: wheat;
}

.navbar-language {
    display: flex;
    align-items: center;
    margin-left: auto;
}

#language-selector {
    font-size: 16px;
    padding: 8px;
    padding-right: 50px;
}

.iframe3 {
    width: 100%;
    height: 440px;
    background-color: transparent;
}

footer {
    width: 100%;
    height: 440px;
}
/* option doi ten mk */
.user-options {
    position: absolute;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 5px 0;
    display: none;
  }
  
  .user-options.show {
    display: block;
  }
  
  .user-options .option {
    padding: 10px;
    cursor: pointer;
  }
  
  .user-options .option:hover {
    background-color: #f5f5f5;
  }
  